STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL="postgresql://postgres.rghkazrivuowvkxrmbhm:6cHHFVEZJ1uBb7r5S5AnfS4wo3on6dif@aws-1-ap-south-1.pooler.supabase.com:5432/postgres"
DB_NAME=medusa-backend
